/* icon related scss */
$icon-size: 40px;

/* text related scss */

/* colour scheme   http://colormind.io/bootstrap/ */
$light-shade: #F6F6F7;
$light-accent: #A292A7;
$main-brand-colour: #B07DDF;
$dark-accent: #867C9F;
$dark-shade: #4A448D;
$dark-accent-transparent: rgba(134, 124, 159, 0.5);
